// Inspired by https://bootsnipp.com/snippets/lV3pj
.comment-box {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: .9rem;

  img {
    width: 50px;
    height: 50px;
  }
  .media-left {
    padding-right: 10px;
    width: 65px;
  }
  .media-body {
    .media-content {
      border: 1px solid $theme-colors-menu_bg;
      padding: 0.75rem 1.25rem;
    }
    .media p {
      margin-bottom: 0;
    }
  }

  .media-heading {
    background-color: $theme-colors-menu_bg;
    border: 1px solid $theme-colors-menu_bg;
    padding: 0.75rem 1.25rem;
    position: relative;
    margin-bottom: -1px;

    > span {
      font-style: italic;
      //color: lighten()
    }
  }

  .media-heading:before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: $theme-colors-menu_bg;
    border: 1px 0 0 1px solid $theme-colors-menu_bg;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    top: 10px;
    left: -6px;
  }
}
