/*
  EVERYTHING MARKDOWN RELATED
 */
.markdown-content {

  img {
    max-width: 100%;
  }

  table {
    width: 100%;

    td, th {
      padding: .5rem;
    }
    td {
      border: 1px #c6c8ca solid;
    }
    th {
      //background: $gray-light;
      //color: $gray-lighter;
    }
  }

  blockquote, pre {
    padding: .5rem 1rem .5rem 1rem;
    border-left: darken($theme-colors-menu_bg, 30%) 3px solid;
    background-color: $theme-colors-menu_bg;

    > p {
      margin-bottom: .2rem;
    }
  }

  blockquote {
    font-style: italic;
  }


  &.empty-content {
    background-color: transparentize($theme-colors-active_item, 0.8);

    min-height: 20px;
    padding: 1rem;

    font-style: italic;
  }

}
