/*
  EVERYTHING MARKDOWN RELATED
 */
.markdown-content {

  font-family: serif;
  padding: .5rem 0 0 .75rem;

  h1,h2,h3,h4,h5,h6 {
  }

  img {
    max-width: 100%;
  }

  table {
    width: 100%;

    td, th {
      padding: .5rem;
    }
    td {
      border: 1px #c6c8ca solid;
    }
    th {
      //background: $gray-light;
      //color: $gray-lighter;
    }
  }

  blockquote, pre {
    padding: .5rem 1rem .5rem 1rem;
    border-left: invert(darken($theme-colors-column_bg, 30%), 100%) 3px solid;
    background-color: invert($theme-colors-column_bg, 75%);
    color: invert($theme-colors-text_color);

    code {
      color: inherit;
    }

    > p {
      margin-bottom: .2rem;
    }
  }

  blockquote {
    font-style: italic;
  }

  code {
    color: $theme-colors-active_item;
  }

  &.empty-content {
    background-color: transparentize($theme-colors-active_item, 0.8);

    min-height: 20px;
    padding: 1rem;

    font-style: italic;
  }

}
