@import "vendor/jstree-theme.css";

.debrief-universe-search {

}

.jstree-proton {
  & {
    font-family: inherit;
  }

  em {
    font-size: .9rem;
  }

  .jstree-node {
    margin-left: 24px;
  }

  .jstree-themeicon.jstree-icon:empty {
    font-size: .8rem;
    color: lighten($theme-colors-text_color, 25%);
  }

  .jstree-search {
    font-style: normal;
    color: $theme-colors-active_item;
  }

  .jstree-clicked {
    background-color: $theme-colors-active_item;
    color: $theme-colors-active_item_text;
  }

  .jstree-hovered {
    background-color: $theme-colors-hover_item;
    color: $theme-colors-active_item;
    border-color: transparent;
  }

  .jstree-anchor {
    max-width: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
