/*
  LOGIN FORM ETC.
 */
.login {


  h1 {
    background: $theme-colors-active_item;
    color: $theme-colors-active_item_text;

    margin: 2rem 0;
    padding: 1rem 0;
    border-radius: 10px;

    text-align: center;

    > img {
      vertical-align: bottom;
    }
  }

  h3 {
    text-align: center;
    margin-bottom: 1rem;
  }

  .checkbox {
    font-weight: 400;
  }
  .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-control:focus {
    z-index: 2;
  }
  input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
